<h1>Editing movie pa2</h1>

<%= render "form", movie_pa2: @movie_pa2 %>

<br>

<div>
  <%= link_to "Show this movie pa2", @movie_pa2 %> |
  <%= link_to "Back to movie pa2s", movie_pa2s_path %>
</div>
